:root {
    --primary-bg-color: #f6f7f9;
    --secondary-bg-color: #ffffff;
    --stroke-opacity-color: rgba(195, 212, 233, 0.4);
    --element-color: #c3d4e9;
    --fill-svg-first-color: #3d5278;
    --fill-svg-second-color: #90a3bf;
    --fill-svg-third-color: #ffffff;
    --accent-primary-color: #3563e9;
    --secondary-accent-color: #ff4423;
    --third-accent-color: #ed3f3f;
    --stars-color: #fbad39;
    --primary-text-color: #3d5278;
    --secondary-text-color: #1a202c;
    --third-text-color: #90a3bf;
    --fouth-text-color: #ffffff;
    --fifth-text-color: #94a7cb;
    --footer-text-color: #131313;
    --footer-opacity-text-color: rgba(19, 19, 19, 0.6);
    --footer-opacity-line-color: rgba(19, 19, 19, 0.16);
  
    
  }